<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokladna</title>
    <link rel="stylesheet" href='/static/inventoryStyle.css'> 
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Poppins&display=swap"
        rel="stylesheet">
    <script src="https://kit.fontawesome.com/71ba330703.js" crossorigin="anonymous"></script>
</head>

<body>
     <nav>
        <img src="napis_trans.png" alt="logo" id="logo">

        <div class="nav-item-list">
            <a class="list-item" href="inventory.html">Sklad</a>
            <a class="list-item nav-active" href="sell.html">Pokladna</a>
            <a class="list-item" href="/templates/auth/register.html">Registrace</a>

        </div>

    </nav>

    <!------------------------------------------ FILTER ----------------------------->
    <main>
        <div class="filter-wrapper">
            <div class="filter-top">

                <h1>Pokladna</h1>
                <div class="add-btns">
                    <a href="cart.html" class="filter-btn add-btn">Přejít do košíku</a>
                    <!-- <button class="filter-btn delete-btn">Odstranit zboží</button> -->
                </div>
            </div>

            <!-- zde zacina formular -->

            <form action="#" autocomplete="off" method="post">

                <div class="filter-bottom">

                    <div class="filter-column">
                        <label for="search">Název produktu</label>
                        <input type="text" id="search" placeholder="Hledat">
                    </div>
                    <div class="filter-column">
                        <label for="categories">Kategorie</label>
                        <select name="categories" id="categories">
                            <option value=""></option>
                            <option value="tourism">Turistika</option>
                            <option value="climbing">Lezení</option>
                            <option value="running">Běh</option>
                            <option value="uncategorized">Nekategorizováno</option>
                        </select>
                    </div>
                    <input type="submit" value="Použít filtry" class="filter-btn apply-btn"></input>
                </div>
            </form>

        </div>

        <!------------------------------------------ TABLE ----------------------------->

        <div class="table-wrapper sell-table-wrapper">
            <table>
                <thead>
                    <th>Název</th>
                    <th>Kategorie</th>
                    <th>Barva</th>
                    <th>Skladem</th>
                    <th>Popis</th>
                    <th></th>
                </thead>
                <tbody id="tableData">
                    {% for item in items %}
                    <tr>
                        <td>{{ item["itemName"] }}</td>
                        <td>{{ item["category"] }}</td>
                        <td>{{ item["colour"] }}</td>
                        <td>{{ item["inStock"] }} ks</td>
                        <td>{{ item["descript"] }}</td>
                        <td>
                            <div class="quick-options">
                                <div class="adjust-quantity">
                                    <input type="number" id="quantity" class="qty" min="0" value="0">
                                    <span class="adjust-btns">
                                        <button class="adjust-btn adjust-btn-plus">+</button>
                                        <button class="adjust-btn adjust-btn-minus">-</button>
                                    </span>
                                </div>
                                <form action="#" autocomplete="off" method="post">
                                <button class="add-to-cart-btn" id="addToCart">Přidat do košíku
                                    <i class="fa-solid fa-cart-plus"></i></button>
                                </form>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

    </main>
    <script>
    //// ADJUST BUTTONS

let minusBtn = document.getElementsByClassName("adjust-btn-minus")

let plusBtn = document.getElementsByClassName("adjust-btn-plus")


/// increase

for (let i = 0; i < plusBtn.length; i++) {
    const button = plusBtn[i];
    button.addEventListener("click", function (event) {
        let btnClicked = event.target;

        let input = btnClicked.parentElement.parentElement.children[0]

        let inputValue = input.value;

        let newValue = parseInt(inputValue) + 1;

        input.value = newValue
    })

}


/// decrease

for (let i = 0; i < minusBtn.length; i++) {
    const button = minusBtn[i];
    button.addEventListener("click", function (event) {
        let btnClicked = event.target;

        let input = btnClicked.parentElement.parentElement.children[0]

        let inputValue = input.value;

        let newValue = parseInt(inputValue) - 1;

        if (newValue >= 0) {
            input.value = newValue;
        } else {
            newValue = 0
        }
    })

}
    </script>
</body>

</html>
